@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f7f9fc;
}

body {
  background: var(--background);
  color: #0f172a;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
